@font-face {
  font-family: 'Berkshire';
  src: url('./Font/BerkshireSwash-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
* {
  font-family: 'Berkshire';
}
body {
  margin: 0;
  font-family: 'Berkshire';
  
  background-color: #FDE9D7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
