.CookingRecipeForm-Form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FDE9D7;
    height: 100%;
    
}
.instructions-message {
    margin: 5vh;
    background-color: #FBD1AB;
    padding: 1vh 2vh 1vh 2vh
}
.Form-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vh 0 2vh 0;
    gap: 3vw;
}
.Form-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2vh 0 2vh 0;
    gap: 3vw;
    margin-top:10vh;
}
.Form-column textarea{
    width: 100%;
}
.Form-row label {
   
    width: 80%;
}

.Form-ta {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 2vh 0 2vh 0;
}

input,
textarea,
label {
    font-size: 15px;
    font-weight: 400;
    font-family: "Jost";


}



input:focus,
textarea:focus {
    outline: none;

}

input {
    width: auto;
    border: none;
    background-color: rgb(253, 231, 204);
    border-style: none;
    border-bottom: #FDE9D7;
    border-bottom-style: outset;
    font-family: 'Berkshire';
}
textarea {
    font-family: 'Berkshire';
}
.div-b-post {
    display: flex;
    justify-content: end;
}

.b-post,
.b-return {
    background-color: #FDE9D7;
    border-style: none;
    height: 5vh;
    width: 5vh;
    cursor: pointer;
}

.b-post svg,
.b-return svg{
    margin: 0;
    height: 5vh;
    width: 5vh;
}

label {
    color: rgb(7, 7, 7);
    letter-spacing: 0.2vh;
    font-family: 'Berkshire';
}

.return-h2{
    color: #010101;
}