
.cardImage {
    background-color: #FBD1AB;
    margin: 3vh;
    padding: 2vh;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 70%;

}

.cardImage img {   
width:30vw;

}
.cardDescription{
     margin-left: 3vh;
}
.cardDescriptionItem { 
    font-size: small;
}
.cardTitle{
    font-size: larger;
    font-weight: 100;
    letter-spacing: 0.2vh;
    cursor: pointer;
  
}
