
.cardImage {
    background-color: #FBD1AB;
    margin: 3vh;
    padding: 2vh;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.cardImage img {   
    height: 8vh;   
     
}
.cardDescription{
    margin-left: 1vh;
}
.cardDescriptionItem {
    font-size: 1.2vh;
}
.cardTitle{
    font-size: medium;
    font-weight: 100;
    letter-spacing: 0.2vh;
    cursor: pointer;
  
}

.cardText:hover{
font-weight: bold;
}